.Widget {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px #00276617;
  border:5px #FFD947 solid;
}

.Widget + .Widget {
  margin-top: 40px;
}

.WidgetTitle {
  font-size: 16px;
  font-weight: bold;
  color:#005BAA;
  padding: 15px 30px;
}

.Stats {
  display: grid;
  grid-template-columns: 50% 50%;
}

.Stat {
  text-align: center;
  padding: 25px 0;
  border-top: 2px solid #005BAA;
}

.Stat:nth-child(even) {
  border-left: 2px solid #005BAA;
}

.StatNumber {
  color:#005BAA;
  font-weight: bold;
  font-size: 32px;
}

.NewestUserStat {
  font-size: 24px;
}

.StatText {
  color: #005BAA;
  font-size: 16px;
}

.WidgetLoading {
  padding: 30px;
  border-top: 2px solid #005BAA;
}

.Topics {
  border-top: 2px solid #005BAA;
}

.RecentTopic {
  padding: 10px 30px;
  display: flex;
  align-items: center;
}

.RecentTopic + .RecentTopic {
  border-top: 2px solid #005BAA;
}

.RecentTopic img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 10px;
}

.Date {
  color: #005BAA;
}

.Icon {
  margin-right: 5px;
}
