body, html {
    height: auto;
    width: 100%;
}
.own{
    background-image:url("../../Img/own.jpg");
    height: 300px;
    width: auto;;
background-color: transparent ;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-top:-15% ;

}

/* Place text in the middle of the image */
@media screen and (max-width: 768px) {
    .own{
        background-image:url("../../Img/own.jpg");
        height: 300px;
        width: auto;;
        background-color: transparent ;
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        margin-top:-70% ;
        margin-bottom:0 ;

    }


    .container {
        position: relative;
       width: auto;
        height: auto;
        margin: 0 auto;
        border-radius: 3px;
    }

}
