.DownTeam {
    margin-right: 60px;
    width: 100%;
    flex-direction: column-reverse;
    height: auto;
    padding: 0;
    margin-bottom: 25px;

}

.team2 {
    /*  background-color: #005BAA;*/
    margin-top: 40px;
    padding: 5px 0;
    margin-left: 0;
}

.DownTeam {
    flex-direction: column;

}

.one {
    border-right: #005BAA solid 5px;
}

h2 {
    color: #FFD947;
    margin-top: 1rem;
    text-align: center;
}

.card-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #005BAA;

}

.card-img-top {

}

.DownTeam .card-img-top {
    max-height: 80%;
}

.teamtext {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #005BAA;
    max-height: 20%;
}

.card-body {
    max-height: 80%;
    padding: 1rem;
}

.DownTeam .card-img-top {
    width: 100%;
    height: auto;
}
.department  card{
    flex-direction: row;
}
.card-img-down {
    flex-shrink: 1;
    max-width: 45%;

}

.card-img-top {
    flex-shrink: 1;
    max-width: 45%;

}

@media screen and (max-width: 768px) {
    .team.col-6.one {
        max-width: 100%;
    }
    .team.card-deck {
        flex-flow: column wrap;
    }
    .DownTeam.col-3 {
        flex-direction: column;
        margin-left:  2%;
    }

    .teamTitle {
        font-size: 1.5rem;
        margin-bottom: 3%;
    }

    .card-img-down {
        max-height: 50%;
    }

    .card-img-top {
        max-height: 50%;
    }

}
@media screen and (min-width: 768px) and (max-width: 1536px){
   .team.card-deck {
        flex-flow: column wrap;
            }
    .teamTitle {
        font-size: 1.5rem;
        margin-bottom: 3%;
    }
    .card-img-down {
        height: 200px;
        width: 150px;
    }
    .card{
        flex-direction: row;
    }
    .DownTeam .card-img-top{
        height: 200px;
        width: 150px;
    }
    .department.card  {
        width: auto;
        flex-direction: row;
        height: auto;
        margin-bottom: 3%;
        flex: 1 1 auto;
    }
    .card-img-down {
        max-height: 50%;
    }
    .card-img-top {
        height: 200px;
        width: 150px;
    }
    .card-title {
        font-size: 1.2rem;
    }
    .teamtext {
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        color: #005BAA;

    }
}
