
.page-heading_glos {
    text-align: center;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    background-image: url(../Img/heroglos.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 230px 0 150px 0;
    color: #fff;
}
.col-auto{
    width:100% ;
}
.page-heading_glos h1 {
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 18px;
}

.page-heading_glos span {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    display: block;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .hero-image{
        height: auto;
        width: auto;
    }
    .page-heading_glos h1, .page-heading_glos span{
        font-size: 1.5rem;
        margin-top: 0;

    }
    .container {
        position: relative;
        width: auto;
        height: auto;
        margin: 0 auto;
        border-radius: 3px;
    }
    .page-heading_glos{
         text-align: center;
        padding: 30px 0 50px 0;
        color: #fff;
    }

}