body, html {
    height: 100%;
    //margin:10px ;

}
.hero-image-news{

 background-image:url( "../Img/bg1.webp");
    background-color: #333333;
    height: 500px;
    width: 100%;
    margin-bottom:0 ;
padding-left: 0;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* The hero image */
.hero-text{
    margin-top:30% ;
   text-align: center;
    color: #FFD947;
    position: relative;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Place text in the middle of the image */
@media screen and (max-width: 768px) {
    .hero-image-news{
        height: auto;

    }
}